<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>123.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Todaybhk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>bhkreader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0273B21F1CA2563900071F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0273B2361CA25BC900071F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0273B24D1CA26FE100071F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F56BD21CBEA211005E80E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC818531BE8917000D195F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC8186C1BE8917000D195F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
